---
layout: page
title: Team
permalink: /team/
---

{% for section in site.data.team.chairs %}
{% assign amount = 0 %}
<div class="team__row">
    {% if section.email %}
    <a href="mailto:{{ section.email }}">
        <h4 class="team_title"> {{ section.title }} </h4>
    </a>
    {% else %}
        <h4 class="team_title"> {{ section.title }} </h4>
    {% endif %}

    <div class="row">
        {% for member in section.members %}
        <div class="col-3">
            <div class="text-center team_container">
                <img class="team__img" src="{{ member.img | relative_url }}"> </img>
                <div class="member__name"> {{ member.name }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor  %}

<hr/>

<h3> Volunteers </h3>
<br/> 
{% for volunteer in site.data.volunteers %}
    <div class="row">     

        <div class="col-sm-3 offset-sm-1">
            <img class="team__img" src="{{ volunteer.photo | relative_url }}"> </img>
        </div>  
        <div class="col-lg">
        <b class="member__name"> {{ volunteer.name }} </b>
            {% if volunteer.bio %}
                <p> {{ volunteer.bio }} </p>
            {% endif %}
        </div>  
    </div>
    <hr/>
{% endfor %}