---
layout: page
title: Team
permalink: /team/
---

{% for section in site.data.team.chairs %}
{% assign amount = 0 %}
<div class="team__row">
    {% if section.email %}
    <a href="mailto:{{ section.email }}">
        <h4 class="team_title"> {{ section.title }} </h4>
    </a>
    {% else %}
        <h4 class="team_title"> {{ section.title }} </h4>
    {% endif %}

    <div class="row">
        {% for member in section.members %}
        <div class="col-3">
            <div class="text-center team_container">
                <img class="team__img" src="{{ member.img | relative_url }}"> </img>
                <div class="member__name"> {{ member.name }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor  %}
