---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";



#organizer-category {
    padding-top: 10px;
    padding-bottom: 10px;
}

#organizer-card {
    width: 100%;
}

#organizer-img {
    display: inline-block;
    width: 100px;
    padding-right: 30px;
}

#organizer-name {
    display: inline-block;
    width: 200px;
}
