<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- for category in site.data.organizers %}
        <div id=organizer-category-name>
            <label>
                {{ category[0] }}
            </label>
        </div>
        {%- for person in category[1] %}
            <li>
                <div id="organizer-card">
                    <span id="organizer-img">
                        <img src="/assets/img/{{ person.photo }}.jpg" alt="">
                    </span>
                    <span id="organizer-name">
                        {{ person.name }}
                    </span>
                </div>
            </li>
        {% endfor %}
        <br>
    {% endfor %}

    {%- include footer.html -%}

  </body>

</html>
