<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <div class="page-content">
        <div class="wrapper">
            {%- for category in site.data.organizers %}
                <div id=organizer-category>
                    <div id=organizer-category-name>
                        <h1>{{ category[0] }}</h1>
                    </div>
                    {%- for person in category[1] %}
                        <div id="organizer-card">
                            <div id="organizer-img">
                                <img src="/assets/img/{{ person.photo }}" alt="">
                            </div>
                            <div id="organizer-name">
                                {{ person.name }}
                            </div>
                        </div>
                    {% endfor %}
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
