---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero--small" style='background-image: url("/assets/banners/banner.png");'>
      <div class="hero__wrap">
        <h1 class="hero__title" style="color:#fff">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content">
        <div class="container">
          <h1> Sponsors </h1>
          <div class="row">
            {% for tier in site.data.sponsorship %}   
                    <h3 class="tier__name"> {{ tier.Name }} </h3>
                    {% for sponsor in tier.Sponsors %}    
                    <div class="col-5">
                      <a class="sponsor__url" href="{{ sponsor.url }}">  
                        <img class="sponsor__logo {{ tier.Name }}" src="{{ sponsor.logo | relative_url }}">                  
                      <!-- <div class="sponsor__name"> {{ sponsor.name }} </div> -->
                      </a>
                    </div>
                {% endfor %}
              
            {% endfor %}
            </div>
          </div>
            <div class="page-content">
                {{ content }}
            </div>
        </div>

    </main>

    {% include footer.html %}

  </body>

</html>
