---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero--small" style='background-image: url("/assets/banners/banner.png");'>
      <div class="hero__wrap">
        <h1 class="hero__title" style="color:#fff">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content">
        <script> 
          console.log({{ site.data.sponsorship | jsonify}})
        </script>
        <div class="container">
            <div class="page-content">
                {{ content }}
            </div>          
          <h1> Sponsors </h1>
          
            {% for tier in site.data.sponsorship %}   
                <div class="row">
                    <h3 class="tier__name"> {{ tier.Name }} </h3>                    
                    {% for sponsor in tier.Sponsors %}    
                      <div class="col">
                        <a class="sponsor__url" href="{{ sponsor.url }}">  
                          <img class="sponsor__logo {{ tier.Name }}" src="{{ sponsor.logo | relative_url }}"/>                                          
                      </a>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
            
          

        </div>

    </main>

    {% include footer.html %}

  </body>

</html>
